{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
    
    <div class="card" style="display: revert; margin-bottom: 0px; margin-top: 0px">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: #ffffff;">
            <li class="breadcrumb-item text-dark opacity-5"><a href="{% url 'main' %}">Главная</a></li>
            <li class="breadcrumb-item text-dark active" aria-current="page"><b>Клиенты</b></li>
            </ol>
        </nav>
    </div>
    <hr>

    <div class="card crystal" style="margin-top: 0px; margin-bottom: 0;">
        <div class="card-body">
            <div class="col-lg-12">

              <div class="row">
                <a href="{% url 'client_create' %}" class="custom-btn btn-16" role="button">
                    <i class="material-icons">add</i>
                    Добавить клиента
                </a>
              </div>

            </div>
        </div>
    </div>

    {% if not clients %}       
        <div class="container text-center pt-4">
            <div><span data-feather="eye-off"></span></div>
            <p>Список клиентов не заполнен</p>
        </div> 
    {% else %}
        <div class="card" style="margin-top: 0px; margin-bottom: 0;">

                <div class="table-responsive">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>                    
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Список клиентов</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Последняя активность</th>
                            </tr>
                        </thead>
                        {% for client in clients %}
                            <tr style="cursor: pointer;" onclick="window.location.href='{% url 'client_edit' pk=client.pk %}';">
                                <td width="70%">
                                    {{ client.name }}
                                    {% if not client.is_active %} 
                                        <span class="badge badge-pill badge-warning">не обслуживается</span>
                                    {% endif %}
                                    <p class="text-xs text-secondary mb-0">{{ client.web_site|default:"-" }} 
                                        &bull; {{ client.phone|default:"-" }} 
                                        &bull; {{ client.address|default:"-" }}  </p>
                                </td>

                                <td class="text-center" width="22%">
                                {{ client.last_activity|default:"-" }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                <!-- pagination -->
                {% if is_paginated %}
                    <div class="row" style="justify-content: flex-end;">
                        <div class="col-lg-2" style="margin-top: 25px;" >
                            <ul class="pagination pagination-primary">
                                {% if page_obj.previous_page_number > 1 %}
                                    <li class="page-item"><a href="{% url 'client_list' %}?page=1" class="page-link">1</a></li>
                                {% endif %}

                                {% if page_obj.has_previous %}
                                    <li class="page-item"><a href="{% url 'client_list' %}?page={{ page_obj.previous_page_number }}" class="page-link">назад</a></li>
                                {% endif %}

                                <li class="active page-item"><a href="#" class="page-link">{{ page_obj.number }}</a></li>

                                {% if page_obj.has_next %}
                                    <li class="page-item"><a href="{% url 'client_list' %}?page={{ page_obj.next_page_number }}" class="page-link">далее</a></li>
                                {% endif %}

                                {% if page_obj.next_page_number < page_obj.paginator.num_pages %}
                                    <li class="page-item"><a href="{% url 'client_list' %}?page={{ page_obj.paginator.num_pages }}" class="page-link">{{ page_obj.paginator.num_pages }}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                {% endif %}

        </div>
    {% endif %}


{% endblock %}