<script>
    $(document).ready(function(){
        var navLinks = document.querySelectorAll('.task-status-bar');
        navLinks.forEach(function(link) {
            link.addEventListener('click', function() {
                var status = this.textContent.trim();
                url_set_arg("page", 1);
                url_set_arg("status", status);
                task_list();
            });
        });

        GetUserList();
    });

    function forced_mail_get() {
        const get_mail_button = $("#forced_mail_get");
        get_mail_button.empty();
        var spinner = $('<i class="fa fa-spinner fa-spin"></i>')
        get_mail_button.append(spinner)
        
        $.ajax({
            type: "POST",
            headers: { 'X-CSRFToken': getCookie('csrftoken') },
            url: "{% url 'api_mail_get' %}",
            data: $(this).serialize(),
            success: function(response){
                var nav_text = document.getElementById('navbar_new_task');
                if (nav_text.classList.contains('active')) {
                    url_set_arg("status", "Новая");
                    task_list();
                }
                showNotification('success', response.message);
                get_mail_button.empty();
                spinner = $('<i class="material-icons">refresh</i>')
                get_mail_button.append(spinner)
            },
            error: function(response){
                showNotification('danger', response.responseJSON.detail);
                get_mail_button.empty();
                spinner = $('<i class="material-icons">refresh</i>')
                get_mail_button.append(spinner)
            }
        });
    }

    function GetUserList() {
        $.ajax({
            url: "{% url 'api_user_list' %}",
            data: $(this).serialize(),
            success: function(response){
                if (response.length > 1) {
                    var currentUrl = new URL(window.location.href);
                    var task_performer = currentUrl.searchParams.get("performer");

                    const UserListOptions = $("#user-list-options");
                    UserListOptions.empty();
                    UserListOptions.append('<select id="userSelect" onchange="url_set_arg(\'performer\', this.value); url_set_arg(\'page\', 1); task_list();" class="selectpicker" data-size="7" data-style="p-1 btn btn-outline btn-round text-end" title="Single Select" tabindex="-98">')
                    var select = $('#userSelect');
                    response.forEach(function (user) {
                        var fullName = user.last_name + ' ' + user.first_name;
                        if (!user.current_user) {
                            select.append('<option value="' + user.id + '">' + fullName + '</option>');
                        } else {
                            select.append('<option value="' + user.id + '" selected="">' + fullName + '</option>');
                            if (!task_performer) {
                                url_set_arg('performer', user.id);
                            }
                        }
                    })
                    select.append('<option value="all">Все</option>');
                    UserListOptions.append('</select>');
                    select.selectpicker('refresh');

                    if (task_performer) {
                        $('#userSelect option').each(function () {
                            if ($(this).val() === task_performer) {
                                $(this).prop('selected', true);
                                select.selectpicker('refresh');
                            }
                        });
                    }
                }
                task_list();
            },
            error: function(response){
                task_list();
            }
        });
        
    }

    function task_list()    {
        var currentUrl = new URL(window.location.href);
        var task_status = currentUrl.searchParams.get("status") || "В работе";

        var task_page = currentUrl.searchParams.get("page");
        if (task_page) {
            var link_page = "&page="+task_page;
        } else { var link_page = ""; }

        var task_client = currentUrl.searchParams.get("client_id");
        if (task_client) {
            var link_client = "&client_id="+task_client;
        } else { var link_client = ""; }

        var task_performer = currentUrl.searchParams.get("performer");
        if (task_performer && task_performer !== 'all' && task_status !== 'Новая') {
            var link_performer = "&performer="+task_performer;
        } else { var link_performer = ""; }
        
        var task_full_month = currentUrl.searchParams.get("full_month");
        if (task_full_month) {
            var link_full_month = "&full_month="+task_full_month;
        } else { var link_full_month = ""; }

        var url_link = "{% url 'api_task_list' %}?status="+task_status+link_page+link_client+link_performer+link_full_month;

        $.ajax({
            url: url_link,
            data: $(this).serialize(),
            success: function(response){
                const tasksContainer = $("#tasks-row-container");
                tasksContainer.empty();

                response.results.forEach(function (task) {
                    const TaskTable = generateTaskRow(task);
                    tasksContainer.append(TaskTable);
                });

                var tableRows = document.querySelectorAll('#table_sort tr');
                var delay = 70;
                tableRows.forEach(function(row, index) {
                    setTimeout(function() {
                        row.classList.add('show');
                        }, delay * index);
                });

                <!-- pagination -->
                var item_count = 10;
                var paginationElement = $('#tasks_pagination');
                    paginationElement.empty();
                if (response.count && (response.count > item_count)) {
                    let url = ''; let current_page = 0;
                    if (response.next) {
                        url = new URL(response.next);
                        current_page = parseInt(url.searchParams.get("page"), 10) - 1;
                    } else {
                        url = new URL(response.previous);
                        current_page = parseInt(url.searchParams.get("page"), 10) + 1;
                        if (!current_page) { current_page = 2;}
                    }

                    if (response.previous) {
                        var prev = $('<li class="page-item"><a class="page-link" herf="#">Назад</a></li>');
                        prev.click(function () {
                            var prev_url = new URL(response.previous);
                            var task_page = prev_url.searchParams.get("page") || 1;
                            url_set_arg("page", task_page)
                            task_list();
                        });
                        paginationElement.append(prev)
                    }

                    var page = $('<li class="page-item active"><a class="page-link" herf="#">' + current_page + '</a></li>');
                    paginationElement.append(page)

                    if (response.next) {
                        var next = $('<li class="page-item"><a class="page-link" herf="#">Далее</a></li>');
                        next.click(function () {
                            var next_url = new URL(response.next);
                            var task_page = next_url.searchParams.get("page");
                            url_set_arg("page", task_page)
                            task_list();
                        });
                        paginationElement.append(next)
                    }
                }

                var currentUrl = new URL(window.location.href);
                var task_status = currentUrl.searchParams.get("status") || "В работе";
                const navLinks = document.querySelectorAll('a.nav-link.task-status-bar');
                navLinks.forEach(navLink => {
                    if (navLink.textContent.trim() === task_status) {
                        navLink.classList.add('active');
                    }
                });

            }
        });
    }
    
    function url_set_arg(name, value) {
        var currentUrl = new URL(window.location.href);
        currentUrl.searchParams.set(name, value);
        window.history.replaceState({}, '', currentUrl);
    }

    function generateTaskRow(task) {
        {% load static %}
        var url = "{% url 'task_edit' pk='000666000' %}".replace('000666000', task.id);
        return `
                        <tr style="cursor: pointer;" onclick="window.location.href='${url}'">
                          <td aria-label="Постановщик" class="col-lg-3">
                            <div class="d-flex justify-content-arounds p-0">
                                <img src="{% static 'imgs/task_icons/' %}${task.created_from}.png" style="height: 40px; width: 40px; margin-right: 3px;" class="avatar avatar-sm me-3">
                                <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-xs">${task.mail !== null ? task.mail.from_name : (task.contacts !== null ? task.contacts : '-')}</h6>
                                    <p class="text-xs text-secondary mb-0">${task.client !== null ? task.client.name : '-'}</p>
                                </div>
                            </div>
                          </td>
                          <td aria-label="Заголовок" class="col-lg-4 align-middle text-sm">
                              <!--<p class="text-xs font-weight-bold mb-0">Manager</p>-->
                              <p class="text-xs text-secondary mb-0">${task.title}</p>
                              <!--<i class="material-icons" style="font-size: 15px;">comment</i>-->
                              <!--3-->
                          </td>
                          <td aria-label="Статус" class="col-lg-1 align-middle text-center text-sm">
                            ${GetStatusBadge(task.status)}
                            ${task.fire !== false ? '<span class="material-icons" style="margin-left:0cm">local_fire_department</span>' : ''}
                            ${task.drive !== false ? '<span class="material-icons" style="margin-left:0cm">directions_car</span>' : ''}
                          </td>
                          <td aria-label="Ответственный" class="col-lg-1 align-middle text-center text-sm">
                            <div class="d-flex justify-content-center" style="font-size: 13px;">
                              ${task.performer !== null ?
                                '<img src="'+task.performer.avatar+'" style="height: 40px; width: 40px; margin-right: 3px;" alt="Avatar">'
                                    +'<div class="d-flex flex-column justify-content-center"><p class="mb-0">'+task.performer.first_name+'</p><p class="mb-0">'
                                    +task.performer.last_name+'</p></div>'
                                : '-'}
                            </div>
                          </td>
                          <td aria-label="Поставлена / Закрыта" class="col-lg-3 align-middle text-center">
                            <span class="text-secondary text-xs font-weight-bold">
                              ${task.date_created !== null ? task.date_created+(task.date_closed !== null ? '<br><div class="text-success">'+task.date_closed : '</div><br>-') : '-'}
                            </span>
                          </td>
                        </tr>
        `;
    }

</script>