<script>
    $(document).ready(function(){
        froala('#task_create_textarea');
        GetUserList();
        GetClientList();
    });

    $("#submit_button").on("click", function () {
        document.getElementById("submit_button").style.display = 'none';
        document.getElementById("submit_button_loading").style.display = 'inline-block';
        const formData = {
            title: $("#task_title").val(),
            contacts: $("#task_contacts").val(),
            performer: $("#userSelect").val(),
            client: $("#clientSelect").val(),
            status: $("#task_status").val(),
            hours_cost: $("#input_task_hours").val(),
            fire: $("#task_fire").is(":checked"),
            drive: $("#task_drive").is(":checked"),
            description: $("#task_create_textarea").val(),
        };
        if (!formData.title) {
            showNotification('danger', "Ошибка: Не указан заголовок.");
            document.getElementById("submit_button").style.display = 'inline';
            document.getElementById("submit_button_loading").style.display = 'none';
        } else if ((formData.hours_cost < 0.5) || !formData.hours_cost) {
            showNotification('danger', "Ошибка: Часов должно быть больше 0.5.");
            document.getElementById("submit_button").style.display = 'inline';
            document.getElementById("submit_button_loading").style.display = 'none';
        } else if (!formData.status) {
            showNotification('danger', "Ошибка: Не указан статус задачи.");
            document.getElementById("submit_button").style.display = 'inline';
            document.getElementById("submit_button_loading").style.display = 'none';
        } else if (!formData.description) {
            showNotification('danger', "Ошибка: Не указано описание задачи.");
            document.getElementById("submit_button").style.display = 'inline';
            document.getElementById("submit_button_loading").style.display = 'none';
        } else if (formData.status === 'Новая' && formData.performer) {
            showNotification('danger', "Ошибка: В задаче со статусом 'Новая' не может быть исполнителя, только со статусом 'В работе'.");
            document.getElementById("submit_button").style.display = 'inline';
            document.getElementById("submit_button_loading").style.display = 'none';
        } else if (formData.status === 'В работе' && !formData.performer) {
            showNotification('danger', "Ошибка: В задаче со статусом 'В работе' должен быть исполнитель задачи.");
            document.getElementById("submit_button").style.display = 'inline';
            document.getElementById("submit_button_loading").style.display = 'none';
        } else if (formData.status === 'Выполнена' && !formData.performer) {
            showNotification('danger', "Ошибка: В задаче со статусом 'Выполнена' должен быть исполнитель задачи.");
            document.getElementById("submit_button").style.display = 'inline';
            document.getElementById("submit_button_loading").style.display = 'none';
        } else if (formData.status === 'Выполнена' && !formData.client) {
            showNotification('danger', "Ошибка: В задаче со статусом 'Выполнена' должен быть указан клиент.");
            document.getElementById("submit_button").style.display = 'inline';
            document.getElementById("submit_button_loading").style.display = 'none';
        } else {
            $.ajax({
                url: "{% url 'task-list' %}",
                type: "POST",
                headers: { 'X-CSRFToken': getCookie('csrftoken') },
                data: formData,
                success: function(response) {
                    window.location.href = "{% url 'task_list' %}";
                },
                error: function(err) {
                    showNotification('danger', err.responseText);
                }
            });
        }
        

    });
</script>
<script>
    function GetUserList() {
        $.ajax({
            url: "{% url 'api_user_list' %}",
            data: $(this).serialize(),
            success: function(response){
                const UserListOptions = $("#user-list-options");
                UserListOptions.empty();
                UserListOptions.append('<select id="userSelect" class="selectpicker" data-size="7" data-style="p-1 btn btn-outline btn-round text-end" title="Исполнитель задачи" tabindex="-98">')
                var select = $('#userSelect');
                response.forEach(function(user) {
                    var fullName = user.last_name + ' ' + user.first_name;
                    select.append('<option value="' + user.id + '">' + fullName + '</option>');
                })
                select.append('<option value="">Не указан</option>');
                UserListOptions.append('</select>');
                select.selectpicker('refresh');

            }
        });
    }

    function GetClientList() {
        $.ajax({
            url: "{% url 'api_client_list' %}",
            data: $(this).serialize(),
            success: function(response){
                const ClientListOptions = $("#client-list-options");
                ClientListOptions.empty();
                ClientListOptions.append('<select id="clientSelect" class="selectpicker" data-size="7" data-style="p-1 btn btn-outline btn-round text-end" title="Клиент" tabindex="-98">')
                var select = $('#clientSelect');
                response.forEach(function(client) {
                    select.append('<option value="' + client.id + '">' + client.name + '</option>');
                })
                ClientListOptions.append('</select>');
                select.selectpicker('refresh');

            }
        });
    }
</script>