{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

    <div class="card mt-0 mb-0" style="position: sticky; z-index: 50; top: 55px;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb align-items-center mb-0" style="background-color: #ffffff;">
                <div id="backButton" class="totooltip pr-2" data-tooltip="Назад">
                    <a class="btn btn-primary btn-fab btn-fab-mini btn-round" role="button">
                        <i class="material-icons" style="color: white;">arrow_back</i>
                    </a>
                </div>
                <li class="breadcrumb-item text-dark opacity-5"><a href="{% url 'main' %}">Главная</a></li>
                <li class="breadcrumb-item text-dark opacity-5"><a href="{% url 'task_list' %}">Задачи</a></li>
                <li class="breadcrumb-item text-dark active" aria-current="page"><b>Добавить задачу</b></li>
            </ol>
        </nav>
    </div>
    <hr>

    <div class="card" style="margin-top: 0px;">
        <div class="card-body">
            <h4 class="Title" style="margin-left: 10px;">Новая задача <hr/> </h4>
                <div class="row">
                    <div class="col-lg-6">

                        <div class="form-group bmd-form-group mb-0">
                            <label for="task_title" class="bmd-label-floating">Заголовок</label>
                            <input type="text" class="form-control" id="task_title">
                        </div>

                        <div class="form-group bmd-form-group">
                            <label for="task_contacts_input" class="bmd-label-floating">Контакты</label>
                            <input type="text" class="form-control" id="task_contacts">
                        </div>

                        <div class="row ml-0">
                            <div class="mt-2 mr-4" id="client-li">
                                <label class="align-middle">Трудозатраты в часах</label>
                                <input id="input_task_hours" value="0.5" type="number" step="0.5" min="0.5" class="form-control" style="width:180px;">
                            </div>
                            <div class="mt-1">
                                <div class="mt-1 mr-4" id="user-list-options">
                                </div>
                                <div class="mt-1 mr-4">
                                    <select id="task_status" class="selectpicker" data-size="7" data-style="p-1 btn btn-outline btn-round text-end" title="Статус задачи" tabindex="-98">
                                        <option value="Новая">Новая</option>
                                        <option value="В работе">В работе</option>
                                        <option value="Выполнена">Выполнена</option>
                                        <option value="Отложена">Отложена</option>
                                        <option value="Не задача">Не задача</option>
                                    </select>
                                </div>
                                <div class="mt-1 mr-4" id="client-list-options">
                                </div>
                            </div>

                            

                            
                        </div>

                        <div class="row">
                            <div class="form-group text-left">
                                <div class="form-check ml-4 mr-4" style="margin-top: 30px;">
                                    <label class="form-check-label" >
                                        <label for="task_fire" style="cursor: pointer;">Срочная</label>
                                        <input type="checkbox" class="form-check-input" id="task_fire">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group text-left">
                                <div class="form-check" style="margin-top: 30px;">
                                    <label class="form-check-label" >
                                        <label for="task_drive" style="cursor: pointer;">С выездом</label>
                                        <input type="checkbox" class="form-check-input" id="task_drive">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">

                        <div class="form-group bmd-form-group mt-4">
                            <label class="bmd-label-static">Суть задачи</label>
                            <textarea id="task_create_textarea"></textarea>
                        </div>

                    </div>

                    <div class="form-group" id="submit_button">
                        <input class='btn btn-lg btn-block btn-outline-info' type="submit" value="Добавить">
                    </div>
                    <div id="submit_button_loading" class="spinner h2" style="display: none;">
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
{% block scripts %}
    
    {% include "tasks/task_create_scripts.html" %}
{% endblock %}