{% load widget_tweaks %}

<!-- Edit description Model -->
<div class="modal fade" id="Modal_Edit" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Редактировать описание</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                <textarea id="task_description_textarea"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-md btn-outline-info mr-2" id="task_description_save">Сохранить</button>
                <button type="button" class="btn btn-success btn-outline-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>
<!--  End Edit Modal -->

<!-- Attach contact Modal -->
    <div class="modal fade" id="Modal_Attach_Contact" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Сохранение контакта</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
                <div class="modal-body" id="text_attach_contact">
                    <div class="spinner h2">
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-md btn-outline-info mr-2" id="attach_contact_button">Сохранить</button>
                    <button type="button" class="btn btn-success btn-outline-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
<!--  End Attach contact Modal -->

<!-- Take Task Modal -->
    <div class="modal fade" id="Modal_Task_Take" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Взять задачу на выполнение?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
                    <div class="modal-body">
                        <div class="form-check">
                            <label class="form-check-label" id="modal_notice_task_take"></label>
                        </div>
                    </div>
                <div class="modal-footer">
                    <div class="spinner h2" id="take_task_button_loading">
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                    <button type="button" class="btn btn-md btn-outline-info mr-2" id="take_task_button">Принять</button>
                    <button type="button" class="btn btn-success btn-outline-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
<!--  End Take Task Modal -->

<!-- Done Task Modal -->
    <div class="modal fade" id="Modal_Task_Done" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Перевести задачу в статус <b>выполнено</b>?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-check">
                        <label class="form-check-label" id="modal_notice_task_done"></label>                        
                    </div>
                    <div id="no_perm_edit_done_task"></div>
                </div>
                <div class="modal-footer">
                    <div class="spinner h2" id="done_task_button_loading">
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                    <button type="button" class="btn btn-md btn-outline-info mr-2" id="done_task_button">Выполнено</button>
                    <button type="button" class="btn btn-success btn-outline-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
<!--  End Done Task Modal -->

<!-- Postpone Task Modal -->
    <div class="modal fade" id="Modal_Task_Postpone" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Перевести задачу в статус <b>отложено</b>?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-md btn-outline-info mr-2" id="postpone_task_button">Отложено</button>
                    <button type="button" class="btn btn-success btn-outline-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
<!--  End Postpone Task Modal -->

<!-- Not Task Modal -->
    <div class="modal fade" id="Modal_Task_Down" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Перевести задачу в статус <b>не задача</b>?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-md btn-outline-info mr-2" id="down_task_button">Не задача</button>
                    <button type="button" class="btn btn-success btn-outline-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
<!--  End Not Task Modal -->

